<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">SPDK nvmf_tgt on %h</name>
  <service>
    <type>_spdk._tcp</type>
    <port>5260</port>
  </service>
</service-group>
