[Unit]
Description=SPKD NVMf target
Requires=network.target

[Service]
ExecStartPre=/usr/sbin/setup_hugepages.sh
ExecStartPre=/usr/sbin/setup_nvmf_tgt.py -c
ExecStart=/usr/sbin/nvmf_tgt -m 0x0f0 -c /etc/spdk/nvmf_tgt.conf -r 0.0.0.0
ExecStopPost=/usr/sbin/setup_nvmf_tgt.py -r
# Restart=on-failure
User=root
#RuntimeDirectory=/tmp
#RuntimeDirectoryMode=0700
# KillSignal=Term
SendSIGKILL=no
SendSIGHUP=no
KillMode=process

[Install]
WantedBy=multi-user.target
