[Unit]
Description=SPKD VHost
Requires=network.target

[Service]
ExecStartPre=/usr/sbin/setup_hugepages.sh
ExecStartPre=/usr/bin/mkdir -p /var/run/vhost
ExecStartPre=/usr/sbin/setup_vhost.py -c
ExecStart=/usr/sbin/vhost -m 0x30000 -c /etc/spdk/vhost.conf -d -S /var/run/vhost -r /var/tmp/vhost.sock
# --wait-for-rpc
# ExecStartPost=/usr/local/sbin/vhost_add_config.sh 3
# ExecStopPost=/usr/sbin/setup_vhost.py -r
# Restart=on-failure
User=root
# KillSignal=Term
# KillSignal=2
KillSignal=1
# SendSIGHUP=no
SendSIGKILL=no
# SendSIGHUP=no
KillMode=process

[Install]
WantedBy=multi-user.target
