Source: spdk-rpc
Section: net
Priority: optional
Maintainer: Yurii Shestakov <yuriis@mellanox.com>
Build-Depends: debhelper (>= 10), dh-python, python3-distutils
Standards-Version: 4.1.2
Homepage: https://spdk.io/
Vcs-Git: https://github.com/Mellanox/spdk
Vcs-Browser: https://github.com/Mellanox/spdk

Package: spdk-rpc
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: RPC modules for Storage Performance Development Kit
 The Storage Performance Development Kit (SPDK) provides a set of tools and
 libraries for writing high performance, scalable, user-mode storage
 applications. This package provides JSON-RPC modules and CLI to manage SPDK

