Source: spdk
Section: net
Priority: optional
Maintainer: Yurii Shestakov <yuriis@mellanox.com>
Build-Depends: debhelper (>= 10), autotools-dev
Standards-Version: 4.1.2
Homepage: https://spdk.io/
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/spdk.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/spdk.git

Package: spdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Storage Performance Development Kit
 The Storage Performance Development Kit (SPDK) provides a set of tools and
 libraries for writing high performance, scalable, user-mode storage
 applications.

Package: spdk-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Storage Performance Development Kit SDK
 The Storage Performance Development Kit (SPDK) provides a set of tools and
 libraries for writing high performance, scalable, user-mode storage
 applications. The devel package provides headers and static libraries

#Package: spdk-rpc
#Architecture: any
#Depends: ${misc:Depends}, ${python3:Depends}
#Description: RPC modules for Storage Performance Development Kit
# The Storage Performance Development Kit (SPDK) provides a set of tools and
# libraries for writing high performance, scalable, user-mode storage
# applications. This package provides JSON-RPC modules and CLI to manage SPDK
#
